<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POSH - Explore FAQ Topics</title>
    <link rel="stylesheet" type="text/css" href="../css/posh.css">
    <link rel="stylesheet" type="text/css" href="../css/posh-mobile.css">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="../ui/posh.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header-container">
        <div class="header-left-container">
            <img src="../images/posh-icons-15.png" alt="" class="burger-menu" style="margin-right:5%">
            <span class="posh-head-title">POSH</span>
        </div>
        <div class="header-right-container">
            <div style="text-align:end;">
                <img src="../images/posh-icons-08.png" alt="" height="30%" width="8%" class="notification-icon-header">
                <img src="../images/profile.png" class="profile-image" alt="" height="18%" width="8%">
                <span class="profile-name ">Lucy Carter</span>
                <img src="../images/down-arrow-image.png" alt="" class="image-down-icon image-dropdown-icon">
            </div>
    </header>

    <div class="content-card">
        <div class="content-body left-right-margin">
            <div class="explore-faq-topics-conatiner">
                <div class="faq-div">
                    <span class="faq-head-title">FAQ/</span>
                </div>
                <div class="flex-container-row align-items-center line-space">
                    <img class="blue-line-icon-image" src="../images/posh-icons-07.png" alt="blue-line-icon-image">
                    <div>
                        <span class="explore-topics">EXPLORE
                            TOPICS
                        </span>
                    </div>
                </div>
                <div class="line-space">
                    <div style="padding-bottom:2vh;">
                        <span class="explore-faq-title">What
                            is Meant by
                            ‘Unwelcome’
                        </span>
                    </div>
                    <p class="faq-desc-text">Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean
                        feugiat felis id
                        sem elementum, sit amet
                        sollicitudin leo vestibulum. Nulla tempus, nisl vitae varius feugiat, enim urna viverra diam, a
                        consequat tellus ex condimentum urna. Sed vel sapien ac est laoreet elementum. Fusce
                        condimentum
                        accumsan est, sit amet pretium ante porttitor et. Cras malesuada consectetur rhoncus. Phasellus
                        consequat massa felis, et maximus augue tristique eget. Phasellus justo massa, imperdiet sed
                        nunc
                        vel,
                        consectetur rhoncus sapien. Integer lectus lorem, lacinia in orci tincidunt, maximus laoreet
                        purus.
                        Cras tempus elit non risus aliquam mollis. Duis hendrerit fringilla elit, nec fringilla diam
                        sodales
                        vitae.</p>
                </div>

                <div class="line-space">
                    <!-- <iframe class="video-size" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
                    </iframe> -->
                    <video class="video-size" controls="auto">
                        <source src="http://cdn.clipcanvas.com/sample/clipcanvas_14348_H264_320x180.mp4">
                    </video>
                </div>
                <div class="line-space" style="margin-bottom:4%">
                    <p class="faq-desc-text">Integer
                        tempus leo sem, vel iaculis magna luctus sed.
                        Vivamus consequat
                        nisi sed commodo
                        consequat.
                        Curabitur eleifend, libero at porttitor ultrices, erat mauris mattis ex, sed laoreet ligula
                        nibh non
                        felis. Aliquam erat volutpat. Cras nec condimentum mauris. Suspendisse eleifend, lacus sit amet
                        pellentesque sodales, nunc tortor finibus turpis, non consectetur nisi libero sed arcu. Vivamus
                        molestie dolor risus, sit amet iaculis dui imperdiet eu. Mauris rutrum libero quam, id
                        vulputate ante
                        posuere in.</p>
                </div>
                <div class="line-space">
                    <img class="faq-demo-image" src="../images/faq-image.jpg" alt="faq-image">
                </div>

                <div class="line-space">
                    <p class="faq-desc-text">Donec
                        orci urna, suscipit at lorem non, aliquam rutrum
                        augue. Integer
                        suscipit enim et velit
                        vestibulum,
                        condimentum vulputate risus sodales. Donec fermentum felis nisi, ac congue nunc aliquam vitae.
                        Nunc id
                        molestie sem. Nam malesuada augue eget risus semper, vulputate volutpat erat volutpat. Sed
                        suscipit
                        pellentesque purus id commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        Mauris
                        quis nunc massa. Ut eu dignissim sem, a congue neque. Morbi finibus ornare neque, id
                        sollicitudin nibh
                        fermentum id. </p>

                    <div style="padding-top:3%;">
                        <p class="faq-desc-text">In
                            feugiat tellus eu diam feugiat, non blandit metus
                            eleifend. Interdum
                            et malesuada fames ac
                            ante ipsum
                            primis in faucibus. Vestibulum scelerisque massa ac consequat rhoncus. Pellentesque at odio
                            sit
                            amet
                            tellus gravida scelerisque sodales a est. Cras aliquet tempor augue, ut varius ipsum luctus
                            at.
                            Suspendisse sit amet elit volutpat, bibendum mauris et, ultrices diam. Suspendisse id massa
                            id
                            odio
                            laoreet ultricies. Donec maximus ex tincidunt libero auctor sodales. Morbi eget dolor sed
                            orci
                            dapibus
                            tristique. Mauris vulputate ultrices justo, eget faucibus felis vestibulum aliquam. Aliquam
                            venenatis
                            malesuada leo vitae rhoncus.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="faq-review-form-box flex-container-row line-space">
                    <div class="faq-review-form-col-1">
                        <!-- <div class="was-this-helpful-alignment"> -->
                        <!-- <div style="padding-bottom:5%;"> -->
                        <p class="helpful-text">Was
                            this helpful?
                        </p>
                        <!-- </div> -->
                        <div class="was-this-helpful-container">
                            <div class="flex-container-row like-dislike-container">
                                <div class="flex-container-column" style="align-items:flex-end;margin-right: 5%">
                                    <img class="thumb-up-grey-image" src="../images/posh-icons-06.png" alt="thumb-up-image">
                                    <span class="like-dislike-percentage-text" style="text-align: center;padding-right: 8%">90%
                                    </span>
                                </div>
                                <div class="flex-container-column" style="align-items:flex-start;">
                                    <img class="thumb-down-image" src="../images/posh-icons-02.png" alt="thumb-down-image">
                                    <span class="like-dislike-percentage-text" class="dislike-para">10%
                                    </span>
                                </div>
                            </div>
                            <p class="you-like-para">You like this.</p>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="faq-review-form-col-2">
                        <p class="review-text">Write
                            a
                            review
                        </p>
                        <div style="padding-bottom:2vh;width: 100%">
                            <textarea class="review-text-input" rows="5"></textarea>
                        </div>
                        <button class="submit-btn">SUBMIT
                        </button>
                    </div>
                </div>
                <div class="reviews-container" id="adding-some-details">
                    <div class="width-eighty">
                        <div class="flex-container" style="margin-bottom: 8%;">
                            <img src="../images/profile.png" class="review-image" style="border-radius: 50%;margin-top:2%" />

                            <div style="margin-left:5%">
                                <span class="reviewer-name">Raman Goel</span>
                                <p class="review-date">18 Mar 2019</p>
                                <p class="review">Lorem ipsum dolor sit amet
                                    consectetur adipiscing elit sodales primis, mollis viverra conubia
                                    ligula inceptos laoreet libero tortor.</p>

                                <div class="flex-container-row" style="margin-top:2%">
                                    <div class="flex-container-row width-count-div">
                                        <img src="../images/posh-icons-03.png" class="review-icon" alt="" />
                                        <span class="count-text">13</span>
                                    </div>
                                    <div class="flex-container-row">
                                        <img src="../images/posh-icons-04.png" class="review-icons" alt="" />
                                        <span class="count-text-first-review">02</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="width-eighty">
                        <div class="flex-container" style="margin-bottom: 8%;">
                            <img src="../images/profile.png" class="review-image" style="border-radius: 50%;margin-top:2%" />

                            <div style="margin-left:5%">
                                <span class="reviewer-name">Raman Raghav</span>
                                <p class="review-date">08 Mar 2019</p>
                                <p class="review">Lorem ipsum dolor sit amet
                                    consectetur adipiscing elit sodales primis, mollis viverra conubia
                                    ligula inceptos laoreet libero tortor.</p>

                                <div class="flex-container-row" style="margin-top:2%">
                                    <div class="flex-container-row width-count-div">
                                        <img src="../images/posh-icons-03.png" class="review-icon" alt="" />
                                        <span class="count-text">13</span>
                                    </div>
                                    <div class="flex-container-row">
                                        <img src="../images/posh-icons-04.png" class="review-icons" alt="" />
                                        <span class="count-text-first-review">02</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="background cursor" style="padding:1em">
                <div class="show-more-container">
                    <span class="show-more-txt">SHOW MORE</span>
                    <img src="../images/posh-icons-18.png" class="showmore-icon" alt="" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>