<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POSH - Track Complaint</title>
    <link rel="stylesheet" type="text/css" href="../css/posh.css">
    <link rel="stylesheet" type="text/css" href="../css/posh-mobile.css">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../ui/posh.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header-container">
        <div class="header-left-container">
            <img src="../images/posh-icons-15.png" alt="" class="burger-menu" style="margin-right:5%">
            <span class="posh-head-title">POSH</span>
        </div>
        <div class="header-right-container">
            <div style="text-align:end;">
                <img src="../images/posh-icons-08.png" alt="" height="30%" width="8%" class="notification-icon-header" />                                    
                <img src="../images/1.png" class="profile-image" alt="" height="18%" width="8%">
                <span class="profile-name ">Lucy Carter</span>
            <img src="../images/down-arrow-image.png" alt="" class="image-down-icon image-dropdown-icon" />
           </div>
        </div>
    </header>

    <div class="content-card">
        <div class="content-body">
            <div class="your-complaint-container">
                <span class="your-complaint-text">
                    YOUR COMPLAINTS
                </span>
            </div>
            <div class="complaints-list-row">
                <div class="complaint-left-container">
                    <p class="complaint-num">TEMP-01</p>
                    <p class="respondent-label">RESPONDENT</p>
                    <p class="respondent-name">Nishant Kumar Verma</p>
                    <p class="address">#1093, 16th C Main, Jadera Halli, Race Course Road, Bangalore, Karnataka, India - 560078 </p>
                    <p class="respondent-label">LAST SAVED ON</p>
                    <p class="respondent-name">06 Jul 2018</p>

                    <div class="show" style="margin-bottom:1%;">
                        <div class="flex-container-row">
                            <img src="../images/posh-icons-22.png" class="delete-btn-left" alt="" />
                            <p class="delete-label">Delete</p>
                        </div>
                    </div>
                    <div class="draft-right-container enrolled">
                        <div class="draft-div" style="text-align:center">
                            <span class="draft-label-right draft-status-color">DRAFT</span>

                        </div>
                    </div>
                    <span class="status-label draft-status-color hide">DRAFT</span>
                </div>

                <div class="complaint-center-container">
                    <img src="../images/posh-icons-31.png" class="delete-btn hide" alt="" />
                    <img src="../images/posh-icons-22.png" class="delete-btn hide" alt="" />
                </div>

                <div class="draft-right-container">
                    <div class="draft-div"
                        style="width: 100%;display: flex;align-items: center;justify-content: flex-end">
                        <span class="draft-label-right draft-status-color show">DRAFT</span>
                        <img src="../images/posh-icons-22.png" class="delete-btn enrolled cursor delete-show" alt="" />                          
                    </div>
                </div>
            </div>

            <div class="complaints-list-second-row">
                <div class="complaint-left-container">
                    <p class="complaint-num">Q7CF52GKL</p>
                    <p class="respondent-label">RESPONDENT</p>
                    <p class="respondent-name">Nishant Kumar Verma</p>
                    <p class="address">#1093, 16th C Main, Jadera Halli, Race Course Road, Bangalore, Karnataka, India - 560078 </p>
                    <p class="respondent-label">SUBMITTED ON</p>
                    <p class="respondent-name">06 Jul 2018</p>
                    <div class="" style="margin-bottom:1%;">
                        <div class="flex-container-row">
                            <img src="../images/posh-icons-22.png" class="icon-btn-left hide" alt="" />
                            <p class="delete-label hide">Delete</p>
                            <span class="status-label  enrolled review-status-color"><b>UNDER REVIEW</b></span>
                        </div>
                    </div>

                    <div class="draft-right-container enrolled">
                        <div class="draft-div" style="text-align:center">
                            <span class="status-label  hide review-status-color"><b>UNDER REVIEW</b></span>

                        </div>
                    </div>
                    <span class="status-label draft-status-color hide">DRAFT</span>
                </div>

                <div class="complaint-center-container">
                    <img src="../images/bell-icon.png" class="icon-btn  para-hide" alt="" />
                    <img src="../images/posh-icons-22.png" class="icon-btn hide" alt="" />
                </div>

                <div class="draft-right-container-under">
                    <div class="draft-div" style="text-align:center">
                        <span class="draft-label-under review-status-color show">UNDER REVIEW</span>
                        <img src="../images/bell-icon.png" class="icon-btn enrolled  cursor delete-show" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>