*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* alignments */
.left,.float-left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}

/* hide and show */
.hide{
    display: none;
}
.show{
    display: block;
}

/* text-head */


/* flex-box */
.flex-container{
    display: flex;
}
.flex-container-row{
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}
.flex-container-column{
    display: flex;
    flex-direction: column;
}
.space-between{
    justify-content: space-between
}
.align-end{
    justify-content: flex-end;
    align-items: flex-end;
}
.end-align{
    align-items: flex-end
}
.space-evenly{
    justify-content: space-evenly
}
.text-end-align{
    text-align-last: right
}
.margin-left-one{
    margin-left: 1.5%
}

/* center alignments */
.center-element{
    margin-left: auto;
    margin-right: auto
}
.text-center{
    text-align: center;
}
.center{
    align-items: center;
    justify-content: center;
}
.web-center{
    align-items: center;
    justify-content: center;
}
.center-self{
    align-self: center
}
.center-item{
    margin-top: 20%;
    margin-bottom: 20%;
}
.center-align{
    align-items: center
}
.end-align{
    align-items: flex-end
}
.baseline-align{
    align-items: baseline
}

/* colors */
.peach-background-color{
    background-color: #ffd9d0;
}
.red-color{
    color: #8e1515;
}
.dark-red-color{
    color: #64393b
}
.peach-color{
    color: #dcaba0
}
.dark-peach-color{
    color: #c76c58;
}
.dark-peach-background-color{
    background-color: #e49d8d;
}
.blue-underline{
    border-bottom: 6px solid #00becf;
}
.blue-light-underline{
    border-bottom: 3px solid #00becf;
}
.dark-underline{
    border-bottom: 3px solid rgb(77, 75, 75)
}
.light-underline{
    border-bottom: 1px solid rgb(194, 191, 191)
}
.dark-gray-color{
    color: rgb(49, 49, 43);
}
.gray-color{
    color: gray
}
.blue-background-color{
    border: 1px solid #32bdd2;
    background-color: #32bdd2;
}
.black-color{
    color: black
}
.white-background-color{
    background: white   ;
}
.white-color{
    color: white;
}
.green-backgroun-color{
    background-color: #b1e5d3;
}
.green-color{
    color: #336958;
}
.green-underline{
    border-bottom: 1px solid #336958
}

/* header */
header{
    width: 100%;
    border: 1px solid rgba(175, 160, 160, 0.178);
    box-shadow: 0px 0px 2px grey;
    background: white;
}
.header-space{
    padding: 1em
}
.menu{
    padding-left: 1em;
}
.dropdown-size{
    height: 15px;
    width: 15px;
}
.profile{
    padding-right: 1em;
}
.profile-size{
    max-height: 30px;
    border-radius:3em; 
}
.menu-container{
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 10px; */
}
.item{
    font-size: 2em;
    color: #000000;
    font-style:inherit;
}
.selected-item{
    padding-bottom: 1em;

    border-bottom: 4px solid #00becf;
}

/* sizing */
.full-height{
    height: 100%;
}
.full-width{
    width: 100%;
}
.full-height-vh{
    height: 100vh;
}
.half{
    width: 50%;
}
.thirty{
    width: 30%;
}
.title-section{
    width: 90%;
}
.large-option-width{
    width: 20%
}
.large-section-title-size{
    width: 50%
}
.option-width{
    width: 20%
}
.width-fifteen{
    width: 15%;
}
.width-eightyfive{
    width: 85%;
}
.width-ten{
    width: 10%;
}
.width-ninty{
    width: 90%;
}
.width-five{
    width: 5%;
}
.width-twenty{
    width: 23%
}
.course-title{
    width: 70%;
}
.form-height{
    min-height: 60vh;
}
.width-seventy{
    width: 70%
}
.width-thirty{
    width: 30%
}
.title-width{
    width: 50%
}
.menu-width{
    width: 50%
}
.width-half{
    width: 60%
}

/* search */
.search{
    width: 80%;
}
/* .search-box{
    border: 1px solid rgba(183, 163, 163, 0.445);
    border-radius: 3em;
    padding: 5px;
    display: flex;
    align-items: center
} */
.img-size{
    height: 25px;
    width: 30px;
    align-self: center;
}
.btn-image-size{
    height: 40px;
    width: 40px;
}
.add-btn-image{
    height:50px;
    width:50px
}

/* ....................................................course-view(popup's).............................................. */

/* html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;

}

.popup-trigger {
display: block;
max-width: 260px;
color: #fff;
font-size: 18px;
text-align: center;
text-transform: uppercase;
line-height: 24px;
cursor: pointer;
}

body {
background-color: #E3E3E3;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}


h1 {
font-size: 40px;
text-align: center;
color: #666666;
margin: 0 0 30px 0;
}

p {
color: #666666;
margin: 25px auto;

 }

.popup {
background: rgba(100, 100, 100, 0.6);
position: fixed;
display: none;
z-index: 5000;
height: 100%;
width: 100%;
left: 0;
top: 0;
}

.popup>div {
border-radius: 10px;
position: fixed;
background: #FFFFFF;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
width: 40%;
max-width: 600px;
z-index: 5001;
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
left: 73%;
top: 22.3%;
text-align: left;
}

.popup-btn-close {
position: absolute;
color: white;
top: -40px;
right: -1px;
border-radius: 50%;
width: 30px;
height: 30px;
line-height: 30px;
text-align: center;
font-size: 20px;
font-weight: bold;
font-family: 'Arial Black', Arial, sans-serif;
cursor: pointer;
-webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
box-shadow: -3px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.popup-btn-close:hover {
background-color: #ac5918;
color: #fff;
}

.popup-text {
background: #fff;
color: #333;
font-size: 19px;
line-height: 30px;
z-index: 9999;
} */


/* body */
body{
    background-color: #f9f9f9
}
.content-body{
    height: 100%;
}
.content-card,.login-content-card{
    margin: 40px 40px 40px 40px;
    box-shadow: 0px 0px 2px grey;
    border: 1px solid rgba(0, 0, 0, 0.055);
    background: white;
    min-height: 80vh;
}
.login-content-card{
    height: 90vh;
    border-radius: 2%;
    box-shadow: 1px 0px 2px grey;
}
.form{
    position: absolute;
    left: 40%;
    right: 40%;
    top:30%;
    bottom: 25%;
    /* height: 100vh; */
}
.row-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.postion-relative{
    position: relative;
}

/* input box */
.input-box{
    font-size: 1em;
    height: 2em;
    width: 100%
}
input{
    border: 1px solid rgb(197, 192 , 192);
}
/* .border{
    border: 1px solid rgb(243, 242, 242)
} */
.input-border{
    border: 1px solid rgb(142, 134, 134)
}
.text-input{
    /* font-size: 1em; */
    border: 1px solid white
}
.form-input-box{
    font-size: 1em;
    height: 2em;
    width: 100%
}
.textarea{
    height: auto;
    font-size: 1em;
    width: 100%
}
/* buttons */
.button{
    border-radius: 40px;
    padding: 8px;
    width: auto;
    background: #32BDD2;
    border: 0px;
    color: white;
    font-size: 18px;
}
.btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #0e6cca;
    color: white;
    border: 1px solid #0e6cca;
    font-size: 1em;
    border-radius:5px; 
}
.draft-btn{
    background: #D0C824;
    border-radius: 15px;
    color: white;
    padding: 7px;
    width: 10%;
    text-align: center;
}
.published-btn{
    background: #00d086;
    border-radius: 15px;
    color: white;
    padding: 7px;
    width: 8%;
    text-align: center;
}
.retired-btn{
    background: #dd3630;
    border-radius: 15px;
    color: white;
    padding: 7px;
    width: 8%;
    text-align: center;
}
/* cancel */
/* .cancel-title{
    font-size: 1.150em;
} */
/* .cancel{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px; 
     padding-left: 1em;
    padding: 1em; 
} */
/* spaces */
.left-space{
    padding-left: 5px;
}
.top-space{
    padding-top: 8px;
}
.field{
    padding: 1em;
}
.right-space{
    padding-right: 25px;
}
.padding-space,.row-space{
    padding: 1.563em;
    padding-bottom: 1em;
}
.padding-bottom{
    padding-bottom: 1.563em;
}
.margin-top {
    margin-top: 1%;
}
.bottom-space{
    margin-bottom: 3%;
}
.margin-right{
    margin-right: 10px;
}
.margin-left{
    margin-left: 10px;
}
.sub-section-space{
    padding-top: 0.500em;
}
.padding-top{
    padding-top: 1em;
}
.padding-bottom-one{
    padding-bottom: 1em;
}
.padding-left{
    padding-left: 0em;
}
.padding-left-one{
    padding-left: 1em
}
.padding-right-one{
    padding-right: 1em
}
.padding-right-zero{
    padding-right: 0em
}
.margin-top-half{
    margin-top: 0.6%;
}
.content-padding{
    padding: 1.563em;
    padding-left: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.left-padding{
    padding-left: 1.5em;
}
.row-space-menu{
    padding: 0.6em;
}
.main-title{
    padding-left: 25px;
    padding-top: 25px;
}
.padding-bottom-zero{
    padding-bottom: 0em
}
.padding-half{
    padding: 0.8em;
}
/* alert */
.alert-image-m{
    height:30px; 
    width:30px ;
}
.alert-image-sm{
    height:15px; 
    width:15px ;
}
.failed-msg{
    justify-content: space-between;
    align-items: center;
    background: #fdcfd0;
    padding: 35px;
    border: 1px solid #64393b;
    cursor: pointer;
}
.success-msg{
    background: #b1e5d3;
    padding: 35px;
    border: 1px solid #336958;
    cursor: pointer;
}
.mobile-search-alert{
    display: none
}
/* fonts */

.txt-head-large-font{
    font-size: 1.8em;
}
/* .txt-head-font{
    font-size: 1.5em;
} */
.txt-subhead-font{
    font-size: 1.125em;
}
/* .size{
    font-size: 0.688em;
    font-weight: bolder
}
.font-size-sml{
    font-size: 0.5em;
}
.font-size-sm{
    font-size: 0.800em;
}
.desc-title{
    font-size: 1em;
}
.text-title{
    font-size: 1em;
}
.msg-font{
    font-size: 1.250em;
}
.large-text{
    font-size: 2.5em;
}
.desc-title-font,.profile-item{
    font-size: 1.5em;
}
.title{
    font-size: 1.875em;
}
.title-sm{
    font-size: 1.275em;
}
.login-title{
    font-size: 1.275em; */
    /* font-weight: 540 */
/* } */
.login-title{
    font-size: 1.5em;
    /* font-weight: 540 */
} 
.section-title-size{
width:60%;
}
/* p{
    text-align: justify
} */
/* radius */
.status-color{
    border-radius:50px;
    height: 10px;
    width: 10px; 
}
.status{
    margin-top: 2%;
}
.image-border {
    border-radius: 50%;
}
.input-radius{
    border-radius: 10px;
}
.input-curve{
    border-radius: 5px;
}
.border-radius{
    border-radius: 25px;
}
.learning-format {
    border: 1px solid #707070;
    color: #5A5A5A;
    padding: 0.5em;
    text-align: center;
}
.self-online {
    background: #4c4c4d;
    color: white;
    border: 1px solid #707070;
    padding: 0.5em;
    text-align: center;
}
.dotted-box{
    margin-top: 1em;
    border: dotted #D5CCCC;
    padding: 1em;
}
.course-section{
    background: #F0F0F0;
    border: #F0F0F0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.add-button {
    width: 5em;
    background: #32bdd2;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    text-align: center;
    padding: 0.8em;
}
.add-bar {
    background: #32bdd2;
    padding: 2px;
    margin-right: 0.5px;
    margin-left: 1%;
}
.margin-left-five{
    margin-left: 5%;
}
.margin-left-nine{
    margin-left: 9em;
}
.padding-bar {
    padding: 0.3em;
}
/* image sizes */
.menu-size{
    height: 48px;
    width: 48px;
}
.arrow-size{
    height: 20px;
    width: 20px;
}
.option-size{
    height: 50px;
    width: 50px;
}
.back-arrow-size{
    height: 25px;
    width: 25px;
}
.mobile-attach{
    display: none;
}
/* dropdowns */
.mobile-container,.options-container{
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    right:10px;
    top: 100%;
    width: auto;
    height: auto;
    justify-content: flex-start;
    border: 1px solid gray;
    z-index: 1;
}
.profile-container{
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top:100%;
    right: 0;
    width: auto;
    padding: 1em;
    border: 1px solid gray;
    justify-content: center;
    z-index: 1;
}
.options-container{
    right: 0;
}
.profile-options:hover .profile-container{
    display: block;
}
.course-options:hover #close-course-menu {
    display: block;
}
.course-options:hover #open-course-menu {
    display: none;
}
.course-options:hover .mobile-container {
    display: block;
}
.course-options:hover .options-container {
    display: block;
}
.options-container{
    width: 80%
}
.mobile-container {
    width:50%; 
}
.cursor{
    cursor: pointer;
}
.select-height{
    height: 1.3em;
}
.more-items {
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 75%;
    background: white;
    box-shadow: 1px 1px 5px grey;
    border: none;
    height: 40px;
    width: 80px;
    text-align: center;
}
.more{
    margin-bottom: 0px;
}

/* mobile */
@media screen and (max-device-width:425px){
    .form{
        position: absolute;
        left: 10%;
        right: 10%;
        top: 15%;
        bottom: 25%;
    }
    .txt-subhead-font{
      font-size: 1.7em;
    }
    .login-content-card,.content-card{
        min-height: 100vh;
    }
    .field{
        padding: 3em;
    }
    .select-height{
        height: 2em;
    }
    .text-input{
        font-size: 2em;
        border: 1px solid white
    }
    /* fonts */
    .login-title,.text-title,.title-sm{
        font-size: 2.500em
    }
    .txt-head-large-font{
     font-size: 3em;
    }
    /* .txt-mobile-font{
        font-size: 1.875em;
    } */
    .txt-mobile-font-sm{
        font-size: 1.438em;
    }
    .txt-mobile-font-sml{
        font-size: 2em;
    }
    .txt-mobile-font-vsm{
        font-size: 0.5em;
    }
    .input-box{
        font-size: 1.875em;
    }
    /* .title{
        font-size: 3.50em;
    } */
    /* .cancel-title{
        font-size: 2em
    } */
    /* .main-title,.profile-item{
        font-size: 3em;
    } */
   
    .mobile-left{
        float: none
    }
    .mobile-flex-container{
        display: flex;align-items: flex-end;
        justify-content: flex-end;
    }

    /* sizes */
    .width-half,.mobile-full-width{
        width: 100%;
    }
    .menu,.profile,.mobile_full_height{
        height: 100%;
    }
    .width-ninty{
        width: 100%;
    }
    .option-width{
        width: 40%;
    } 
    .title-width{
        width: 20%;
    }
    .menu-width{
        width: 80%;
    }
    .width-seventy{
        width: 75%;
    }
    .width-thirty{
        width: 25%;
    }
    .search{
        width: 100%;
    }
    .course-title{
        width: 90%;
    }
    .width-ten{
        width: auto;
    }
    /* .width-twenty{
        width: 10%
    } */
    /* alignments */
    .mobile-center-self{
        align-self: center
    }
    .bottom{
        vertical-align: bottom
    }
    .mobile-space-between{
        justify-content: space-between
    }
    p{
        text-align: justify
    }
    .web-center{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .mobile-align-end{
        justify-content: flex-end
    }

    /* spacings */
    .padding-space{
        padding: 4em;
        padding-bottom: 3.250em;
    }
    .row-space,.mobile-row-space{
        padding: 3em;
        padding-bottom: 2em;
    }
    .padding-bottom{
        padding-bottom: 3em;
    }
    .padding-bottom-two{
        padding-bottom: 2em;
    }
    .row-space-menu{
        padding: 1em;
    }
    .padding-right-zero{
        padding-right: 0em
    }
    .mobile-padding-left-one{
        padding-left: 1em;
    }
    .mobile-alert{
        padding-bottom: 1em;
        padding-top: 3em;
    }
    .mobile-top-space{
        padding-top: 0.5em;
    }
    .mobile-top-space-l{
        padding-top: 0em;
    }
    .content-padding{
        padding: 3em;
        padding-left: 0em;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .center-item{
        margin-top: 0;
        margin-bottom: 0;
    }
    .mobile-right-space{
        padding-right:3em
    }
    .top-padding-zero{
        padding-top: 0em;
    }
    .txt-head-font{
        font-size: 2em;
    }

    /* input boxes */
    .form-input-box{
        height: 2em;
        font-size: 2em;
        border:1px solid gray;
    }
    input{
        border:1px solid white;
        border-bottom: 1px solid gray
    }
    input[type="radio"] {
        height: 2em;
        width:2em;
    }
    .textarea{
        height: auto;
        font-size: 2em;
        width: 100%
    }

    /* buttons */
    .btn{
        font-size: 1.5em;
    }
    .draft-btn{
        width: auto;
        border-radius: 0;
        padding: 10px;
    }  

    /* alerts */
    .alert-image-m{
        height:65px; 
        width:65px ;
    }
    .alert-image-sm{
        height:40px; 
        width:40px ;
    } 

    /* menu and dropdowns */
    .ham{
        display: block;
        height: 100%;
    }
    .menu-container{
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        justify-content: flex-start;
        padding-top: 8vh;
        padding-left: 4vh;
        border: 1px solid gray
    }
    .new-mobile-container{
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        right:0;
        top: 100%;
        width: auto;
        height: auto;
        justify-content: flex-start;
        border: 1px solid gray;
    }
    .profile-container{
        top:100%;
        right: 0;
    }
    .new-mobile-container {
        width: 70%;
    }
    .mobile-container {
        width: 100%;
    }
    .selected-item{
        border-bottom: 0;
    }
    .item{
        font-size: 2.500em;
        padding: 1em;
        cursor: pointer;
    }
    .menu:hover .menu-container{
        display: flex
    }
    .menu:hover{
        background: gray
    }
    .menu:hover .remain-container{
        display: block;
    }
    .new-course-options:hover #close-course-menu {
        display: block;
    }
    .new-course-options:hover #open-course-menu {
        display: none;
    }
    .new-course-options:hover .new-mobile-container {
        display: block;
    }
    .course-options:hover #close-course-menu {
        display: block;
    }
    .course-options:hover #open-course-menu {
        display: none;
    }

    /* images size */
    .profile-size{
        max-height: 100px;
        border-radius:3em; 
    }
    .menu-size{
        height: 80px;
        width: 80px;
    }
    .arrow-size{
        height: 25px;
        width: 25px;
    }
    .option-size{
        height: 70px;
        width: 70px;
    }
    .status-color{
        border-radius:50px;
        height: 30px;
        width: 30px; 
    }
    .back-arrow-size{
        width:20px;
        height: 20px;
    }

    /* flex containers */
    .course-intro{
        display: flex;
        flex-direction: column-reverse;
    }
    .draft-btn,.title-section{
        align-self: flex-start;
    }
    .row-items{
        display: flex;
        flex-direction: column-reverse;
    }
    .timing{
        display: flex;
        flex-direction: row;
    }  

    /* floats and hide and show */
    .mobile_left{
        float: left;
    }
    .mobile_right{
        float: right;
    }
    .mobile_clear{
        clear: both;
    }
    .clear-float{
        display: block;
    }
    .timing{
        float: none;
    }
    .mobile-attach,.status-text-mobile{
        display: block;
    }
    .web-attach,.created-on,.status-text-web{
        display: none;
    }
    .course-menu{
        display: block;
    }
    .new{
        display: block;
    }
    .status-div{
        display: flex;
        /* flex-direction: column; */
        align-items: center
    }
    .blue-background-color{
        border: 1px solid #32bdd2;
        background-color: #32bdd2;
    }
    .dotted-box{
        padding: 1.8em;
    }
    .mobile-border{
        border: 1px solid rgb(243, 242, 242)
    }
    .form-height{
        min-height: 80vh;
    }
    /* .txt-head-large-font{
        font-size: 3.5em;
    } */
    .section-title-size{
        width: 60%;
    }
}

/* tablet */
@media screen and (min-device-width:426px) and (max-device-width:768px){
    .form{
        position: absolute;
        top: 25%;
        left: 30%;
        right: 30%;
    }
    /* .menu-half{
        width: 50%;
    } */
    .login-content-card{
        min-height: 90vh;
    }
    .width-ninty{
        width: 85%;
    }
    .width-ten{
        width: 15%
    }
    .title-width{
        width: 50%
    }
    .menu-width{
        width: 50%
    }
    .section-title-size{
        width: 60%;
    }
    .option-width{
        width: 25%;
    }
    .tab-web{
        display: none
    }
    .tab-text{
        display: block
    }
    .center-item{
        margin-top: 40%;
        margin-bottom: 40%
    }
    .tab-align{
        align-items: center;
    }
    .end-align{
        align-items: center
    }
    .course-title{
        width: 75%;
    }
    p{
        text-align: justify
    }
    .add{
        padding-bottom: 1em;
    }
    .textarea{
        height: auto;
        font-size: 1em;
        width: 100%
    }
    .blue-background-color{
        border: 1px solid #32bdd2;
        background-color: #32bdd2;
    }
    .txt-head-large-font{
        font-size: 2em;
    }
    .txt-head-font{
        font-size: 1.3em;
    }
    .txt-subhead-font{
        font-size: 0.8em;
    }
    .space-between{
        justify-content: space-between
    }
   
}

/* laptop small */
@media screen and (min-device-width:769px) and (max-device-width:1024px){
    .form{
        position: absolute;
        top: 20%;
        left: 30%;
        right: 30%;
        bottom: 25%;
    }
    .login-content-card{
        min-height: 100vh;
    }
    /* .menu-half{
        width: 50%;
    } */
    .width-fifteen{
        width: 15%
    }
    .width-eightyfive{
        width: 85%
    }
    .course-title{
        width: 90%
    }
    .search{
        width: 75%
    }
    .width-ninty{
        width: 80%
    }
    .width-ten{
        width: 30%
    }
    .width-twenty{
        width: 10%
    }
    .section-title-size{
        width: 60%;
    }
    .option-width{
        width: 25%;
    }
    .textarea{
        height: auto;
        font-size: 1em;
        width: 100%
    }
    .blue-background-color{
        border: 1px solid #32bdd2;
        background-color: #32bdd2;
    }
    .input-box{
        font-size: 1em;
        height: 2em;
        width: 100%
    }
    .text-input{
        font-size: 1em;
        border: 1px solid white
    }
    .form-input-box{
        font-size: 1em;
        height: 2em;
        width: 100%
    }
    .txt-head-large-font{
        font-size: 1.8em;
    }
    .txt-head-font{
        font-size: 1em;
    }
    .txt-subhead-font{
        font-size: 0.8em;
    }
    
}

/* laptop large */
@media screen and (min-device-width:1025px) and (max-device-width:1440px){
    .form{
        position: absolute;
        top: 25%;
        left: 35%;
        right: 35%;
        bottom: 25%;
    }
    .login-content-card{
        min-height: 100vh;
    }
    /* .menu-half{
        width: 50%;
    } */
    .section-title-size{
        width: 60%;
    }
    .option-width{
        width: 50%;
    }
    .textarea{
        height:auto;
        font-size: 1em;
        width: 100%
    }
    .blue-background-color{
        border: 1px solid #32bdd2;
        background-color: #32bdd2;
    }
    .txt-head-large-font{
        font-size: 1.8em;
    }
    .txt-head-font{
        font-size: 1.9em;
    }   
    .txt-subhead-font{
        font-size: 0.8em;
    }
}

/* 4k screen */
@media screen and (min-device-width:1441px) and (max-device-width:2560px){
    .blue-background-color{
        border: 1px solid #32bdd2;
        background-color: #32bdd2;
    }
    .width-half{
        width: 50%
    }
    .options-container{
        width:45%
    }
    .txt-head-large-font{
        font-size: 3em;
    }
    .txt-head-font{
        font-size: 2em;
    }
    .txt-subhead-font{
        font-size: 1.5em;
    }
    .form-input-box,.search-box,.input-box{
        font-size: 2em;
        /* height: 2em; */
        width: 100%
    }
    /* .thirty{
        width: 50%
    } */
    .row-space,.padding-space{
        padding: 3em;
        padding-bottom: 2em;
    }
    .header-space{
        padding: 1em;
    }
    .profile-size{
        max-height: 45px;
    }
    .btn{
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .status-color{
        height: 25px;
        width: 25px;
    }
    .textarea{
        font-size: 2em;
    }
    .border-radius{
        border-radius:35px; 
    }
    .dotted-box{
        padding: 3em;
    }
    .menu-size,.option-size{
        width: 80px;
        height: 80px;
    }
    .add-button{
        width: auto;
        padding: 1em;
    }
    .large-section-title-size{
        width: 50%;
    }
    .option-width{
        width: 40%;
    }
    .section-title-size{
        width: 50%;
    }
    .row-space-menu{
        padding: 1.3em;
    }
    .arrow-size,.back-arrow-size{
        height: 50px;
        width: 50px;
    }
    .add-bar{
        margin-left: 1.5%
    }
    .padding-bar{
        padding: 0.5em;
    }
    .add-btn-image,.btn-image-size{
        height: 80px;
        width: 80px;
    }
    .input-radius,.input-curve{
        border-radius: 15px;
    }
    .dropdown-size{
        height: 25px;
        width: 25px;
    }
    .light-underline {
        border-bottom: 3px solid rgb(194, 191, 191);
    }
    .font-size-sm{
        font-size: 2em;
    }
    input {
        border: 2px solid rgb(197, 192 , 192);
    }
    input[type="radio"] {
        height: 3em;
        width:2.5em;
    }
    .select-height{
        height: 1.8em;
        font-size: 1.8em
    }
    .sub-section-space{
        padding-top: 1em;
    }
    .profile-container{
        padding: 2em;
    }
    .form{
        left: 30%;
        right: 30%;
        top: 25%;
    }
}

/* .........................................posh....................... */

.body {
    width: 5000px;
  }

  .flex-container{
    display: flex;
}
.flex-container-row{
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}
.center-align{
    align-items: center
}

  .max-width{
   max-width: 100%;
  }

  .max-width-eighty{
    max-width: 80%;
   }

.wed-size{
    width: 100%;
   
    /* text-align: center; */
    /* color: white; */

}
.width-thirty-eight{
    width: 38%;
}
.width-ninty{
    width: 90%;
}
.width-eighty{
    width: 80%
}
.width-five-fifty{
    width: 45%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4px;
    color: white;
    font-weight: bold;

}
.position{
    position: absolute;
}
.image-border {
    border-radius: 50%;
}
  .vl {
    border-left: 6px solid white;
    height: 80px;
   
  }
.color-txt{
    color: rgb(70, 68, 68)
}
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .flex-container-column{
    display: flex;
    flex-direction: column;
}
/* right */
.right-eighteen{
    right: 18em; 
}
.right-six{
    right: 6em;
}
/* top */
.top-nine{
    top: 9em;
}
.top-fifteen{
    top: 15em;
}
.top-thirty-four{
    top: 32.1em;
}
.top-twenty-five{
    top: 22em;
}
.top-one-fifty{
    top: 150em;
}
.top-ninty-six{
    top: 96em;
}

/* fonts */
.font-sixteen{
    font-size: 16px;
}
  .font-size-eighteen{
      font-size: 18px;
  }
  .font-nine{
      font-size: 9px;
  }
  .font-eight{
  font-size: 10px;
  }

/* padding */
.padding{
    padding: 5em;
}
.padding-three{
    padding: 3em
}
.padding-top{
    padding-top: 3em;
    padding-bottom: 3em
}
.padding-one{
    padding: 1em;
}
.padding-two{
    padding: 2em;
}
.padding-twenty-five{
    padding: 25px;
}
.padding-twenty{
padding: 20px;
}
.padding-zero{
    padding: 0.2em;
}
.padding-four{
    padding: 4em;
}
/* left */
.left-ten{
    left: 10em;
}
.margin-left-sixty{
    margin-left: 60em;
    color: white;
}
.left-thirty{
    left: 40%;
}
.left-fifty{
    left: 58%;
}



/* margin-left */
.margin-left-eight{
    margin-left: 8.2em;
}
.margin-right-three{
    margin-right: 3em;
}
.margin-top-five{
margin-top: 5em;
}
.margin-top-one{
    margin-top: 1em;
}


/* border-radius */
.border-radius{
    border-radius: 10px;
    box-shadow: 3px solid black;
}

/* background */
.background{
    background: white
}
.color{
    color: white;
}
  .left {
    left: 0;
    background-color: #111;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
  }  
  .content-head{
 left: 0em;
}
 .padding-bottom{
    border-bottom: 1px solid #c2bfbf;
  }
  .padding-bottom-one{
      padding-bottom: 1em;
  }
  img {
    float: left;
  }
  .prevent-color{
    font-size: 18px;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .para-text{
    margin-top: 2%;color: #4C5264
  }
  .content-div1{
top: 55em;left: 7em;margin-left: 4%;
}
.category{
    border-bottom: 2px solid #aca6a6;
    padding: 30px;
}
.content-div-training{

  top: 6.6em;left: 0em;
}
.flex-container-dip{
    display: flex;
}

.border-radius-ten{
    border-radius: 10px;
}
.p-color{
    margin-top: 10px;
    color: #909090;
    font-size: 17px;
}
.p-small-color{
    font-size: 17px;
    color: #4C5264;
}
.txt-head-size{
font-size: 23px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.txt-head-color{
    color: #747474;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.venue-padding-head{
    padding-top: 2em;padding-bottom: 2em;padding:1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .fint-txt-number{
    font-size: 10px;
    margin-top: 0.3em
  }
  .font-txt-number-big{
    font-size: 15px;margin-top: 0.5em
  }
  .image-flex{
    margin-left: 10%;
    margin-top: 3%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.content-div2{
width: 48%;
top:35em;
/* left: 10em; */
padding-bottom: 15px;
}
.content-div2-schedule{

    top:95em;left: 10em;padding-bottom: 15px;
    }
.text-align{
    text-align: center;
    align-items: center
}
.background-gray{
    background:#faf8f8;
}

.content-div3{
    width: 48%;
    /* left: 27em; */
    top:35em;
}
.content-div3-schedule{
    left: 38em;top:95em;
}
.border{
    border-bottom: 1px solid #c2bfbf;
}
.content-div-unwae{
    width: 48%;
top: 40.8em;
/* left: 10em; */
}
.content-div-unwae-schedule{
    top: 100.8em;left: 10em;
    }
.content-div-unwae1{
top: 40.9em;
width: 48%;
/* left: 27em; */
}
.content-div-unwae1-schedule{
    top: 100.9em;left: 38em;
    }
.margin-left{
    margin-left: 3%;
}
.content-div-submit{
    top: 83em;
    /* left: 10em; */
 }
 .content-div-submit{
    top: 83em;
    /* left: 10em; */
 }
 .content-div-submit-schedule{
    top: 142em;
    left: 10em;
 }
 .button{
    border-radius: 40px;
    padding: 8px;
    width: auto;
    background: #32BDD2;
    border: 0px;
    color: white;
    font-size: 15px;
    padding-left: 3%;
    padding-right: 3%;
}
.content-div-policy{
    top: 110em;
    /* left: 10em; */
 }
 .content-div-policy-schedule{
    top: 169em;left: 10em;
 }


 .search-box{
     width: 80%;
    border: 1px solid rgba(183, 163, 163, 0.445);
    /* border-radius: 3em; */
    /* padding: 5px; */
    display: flex;
    align-items: center;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-left-color: white;
}
.button-submit{
    border-radius: 40px;
    padding: 8px;
    width: auto;
    background: #32BDD2;
    border: 0px;
    color: white;
    font-size: 15px;
    padding-left: 3%;
    padding-right: 4%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}



.btn-group button {
    background-color: white; 
    border: 1px solid black; 
    color: white;
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
  }
  
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  }    
  .dropbtn {
              color: white;
              font-size: 16px;
              border: none;
              cursor: pointer;
  
          }
  
          .dropdown {
              position: relative;
              display: inline-block;
  
              /* margin-top: 10px; */
          }
  
          .dropdown-content {
              display: none;
              position: absolute;
              background-color: #ffffff;
  
  
              overflow: auto;
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              z-index: 1;
              right: 1px;
              margin-top: 18px;
              width: 170px;
              height: 250px;
  
  
          }
  
          .dropdown-content a {
              color: black;
              padding: 20px 24px;
              text-decoration: none;
              display: block;
          }
  
          .dropdown a:hover {
              background-color: #f0f0f0;
          }
  
          .show {
              display: block;
          }
  
          .row {
  
              display: flex#E9F0F1;
              flex-wrap: nowrap;
              justify-content: space-between;
              margin-left: 20px;
              margin-right: 30px;
              margin-top: 30px;
          }
          .center {
              /* padding: 5em; */
              border-radius: 10px;
            background: #E9F0F1;
            margin: auto;
            width: 50%;
            border: 3px solid rgb(240, 241, 239);
            padding: 10px;
          }
          
          