<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>stop-schedule</title>
    <link rel="stylesheet" type="text/css" href="../css/posh.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/posh.js"></script>
    <!-- <script src="../ui/header.js"></script> -->
</head>

<body style="background: #F6F8F9">
    <header class="header-space flex-container-row space-between ">
        <div class="menu-container center-align">
            <img src="../images/posh-icons-15.png" alt="" class="profile-size" style="padding: 10px;" />
            <span class="item cursor txt-head-font" id="dashboard">
                <b>POSH</b>
            </span>
        </div>
        <div style="display: flex;align-items: center;">
            <div class="flex-container-row profile-options postion-relative cursor" style="background: #f5f6fa;border-radius: 10px;padding: 5px;padding: 10px">
                <div style="border-radius: 10px;">
                    <span style="color: #5a5a5a">Your Complaints</span>
                </div>
                <img src="../images/posh-icons-08.png" alt="" class="postion-relative dropdown-size" />
            </div>&nbsp;&nbsp;
            <div class="profile-options postion-relative cursor" style="display: flex;align-items: center;padding: 10px">
                <img src="../images/profile.jpeg" alt="" class="profile-size" />
                <div style="border-radius: 10px;padding:5px;">
                    <span style="color: #5a5a5a">Ronald Philip</span>
                </div>
                <img src="../images/posh-icons-18.png" alt="" class="postion-relative dropdown-size" />
            </div>
        </div>
    </header>

    <div>
        <div style="width: 100%;height: auto" class="content-head position background border-radius-ten">
                        <div class="w3-content w3-display-container">
                            <img class="mySlides" src="../images/web-05.png" style="width:100% ;height: 470px;">
                            <img class="mySlides" src="../images/web-01.png" style="width:100%;height: 470px;display: none">
                            <img class="mySlides" src="../images/web-06.png" style="width:100%;height: 470px;display: none">
                            <img class="mySlides" src="../images/web-07.png" style="width:100%;height: 470px;display: none">
                          
                        
                          </div>
            <div style="max-width:100%;">
                <div class=" left-thirty top-nine  position flex-container font-sixteen " item-width="100px" item-height="100px">
                    <div style="color: white;font-size: 4em;">
                        <span>
                            <b>STOP</b>
                        </span>
                    </div>&nbsp;&nbsp;
                    <div class="vl"></div>
                </div>
                <div class=" left-fifty right-six font-sixteen top-nine position right-six" item-width="100px" item-height="100px">

                    <p style="color: white;font-size: 1.5em;"><b>Harassement</b></p>
                    <br>
                    <p style="color: white;font-size: 1.5em;"><b>& Bullying</b></p>
                </div>
                <p class="color  position top-fifteen font-sixteen left-thirty option-width">
                    <b>
                    Unwelcome sexual advances, requests for sexual favors and other verbal or physical conduct of a sexual nature that tends
                    to create a hostile or offensive work environment.
                    </b>
                </p>    
                <div class="position top-twenty-five font-sixteen margin-left-sixty flex-container margin-top-one">
                        <img src="../images/posh-icons-12.png" width="15" height="15" alt="" class="margin-left"  onclick="plusDivs(-1)"/>
                    <span>1/4</span>
                    <img src="../images/posh-icons-13.png" width="15" height="15" alt="" class="margin-left" onclick="plusDivs(1)"/>
                </div>             
            </div>
        </div>

        <div class="content-div position max-width-eighty padding-three left-ten padding border-radius top-thirty-four background">

            <div class="align-items">
                <span class="prevent-color margin-left-eight">
                    <b>PREVENTION OF SEXUAL HARASSMENT AT WORKPLACE</b>
                </span>
                <div class="flex-container">
                    <img src="../images/profile.jpeg" alt=""  height="100" width="100" class="image-border margin-right-three">
                    
                    <p class="para-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula,
                        tortor ipsum faucibus nunc, id aliquam lacus odio nec magna. Cras a ipsum placerat, efficitur nibh
                        sed, iaculis elit. Mauris semper tempor facilisis. Nunc at consequat tortor, vel facilisis tortor.
                        Morbi blandit, libero id pellentesque faucibus, eros leo consequat erat, a gravida elit enim vitae
                        tellus. Sed mattis nulla ut nulla hendrerit porta in quis orci.</p>
                    
                </div>
                <br>
               
                <div class="flex-container-column margin-left-nine">
                    <p style="color: #4C5264">
                        <b>Ashima Mukharjee</b>
                    </p>
                    <p style="color: #4C5264">
                        <b>Chief Operating Officer</b>
                    </p>
                </div>
                <div class="padding-one text-end-align" id="read-more" style="display:none"><span>READ MORE...</span></div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="flex-container">
        <div class="content-div1 position background width-eighty">
            <div class="category flex_container" style="justify-content:space-between">
                <div class="flex_container">
                    <span class="category1 txt-head-size">
                        <b>TRAINING</b>
                    </span>&nbsp;&nbsp;
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula.</p>
                </div>
            </div>
            <div class="content-div-training position wed-size border-radius-ten position padding-three background ">
                <div class="width-ninty flex-container space-between padding-bottom-one">
                    <span class="selected-item txt-head-size" id="schedule">
                        <b>Scheduled</b>
                    </span>
                    <span class="txt-head-size txt-head-color">Completed</span>
                    <span class="txt-head-size txt-head-color">Past Programms</span>
                </div>
                <!-- <div class="wed-size padding-four text-align background-gray " >
                    <p>NO EVENT SCHEDULED</p>
                    <p class="padding-one">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula.</p>
                </div> -->
                <div  class="flex-container-column ">
                    <p class="padding-top padding-one txt-head-size">
                        <b>07 July 2019 11:00 AM</b>
                    </p>
                    <div class="venue-padding-head">
                        <p class="p-color">VENUE</p>
                        <p class="p-small-color">Pinnacle, St. Marks Road.</p>
                    </div>
                    <div class="venue-padding-head">
                        <p class="p-color">COURSE</p>
                        <p class="p-small-color">Refresher Workshop</p>
                    </div>

                    <div class="venue-padding-head">
                        <p class="p-color">TRAINER</p>
                        <p class="p-small-color">Dr. Shashi Kad</p>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        </div>

        <div style="display:flex">
            <div class="content-div2-schedule position background width-thirty-eight padding-bottom">
                <div class=" flex_container" style="justify-content:space-between">
                    <div class="flex_container padding-one">
                        <span class="category1 txt-head-size">
                            <b>FAQ</b>
                        </span>&nbsp;&nbsp;
                    </div>
                    <div style="text-align: end;color: #918c8c;">
                        <span>EXPLORE</span>&nbsp;
                        <span>--></span>
                    </div>
                </div>
            </div>

            <div class="content-div-unwae-schedule width-thirty-eight position padding-two background border-radius-ten">
                <div style="display: flex;background: #F7F7F7;flex-direction: column;margin-bottom: 20px;padding:10px">
                    <div style="background: #F7F7F7;margin-top: 10px;margin-bottom: 10px;">
                        <div style="display: flex;flex-direction: column;padding: 10px;">
                            <p>What is Meant by ‘Unwelcome’</p>
                            <p class="txt-head-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor
                                vehicula, id aliquam lacus odio nec magna.
                            </p>
                        </div>
                        <span style="font-size: 10px;float:right">READ MORE..</span>
                    </div>
                </div>

                <div style="display: flex;background: #F7F7F7;flex-direction: column;margin-top: 20px;margin-bottom: 20px;padding:10px">
                    <div style="background: #F7F7F7;margin-top: 10px;margin-bottom: 10px;">
                        <div style="display: flex;flex-direction: column;padding: 10px;">
                            <p>What is Meant by ‘Unwelcome’</p>
                            <p class="txt-head-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor
                                vehicula, id aliquam lacus odio nec magna.
                            </p>
                        </div>
                        <span style="font-size: 10px;float:right">READ MORE..</span>
                    </div>
                </div>

                <div style="display: flex;background: #F7F7F7;flex-direction: column;padding: 10px">
                    <div style="display: flex;background: #F7F7F7;flex-direction: column;">
                        <div style="background: #F7F7F7;">
                            <div style="display: flex;flex-direction: column;padding: 10px;">
                                <p>What is Meant by ‘Unwelcome’</p>
                                <p class="txt-head-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor
                                    vehicula, id aliquam lacus odio nec magna.
                                </p>
                            </div>
                            <span style="font-size: 10px;float:right">READ MORE..</span>
                        </div>
                    </div>
                </div>

                <div style="display: flex;padding:10px;font-size: 0.8em">
                    <img src="../images/posh-icons-12.png" width="15" height="15" alt="" class="margin-left" />
                    <span>1-3 of 15</span>
                    <img src="../images/posh-icons-13.png" width="15" height="15" alt="" class=margin-left/>
                </div>
            </div>
        </div>

        <div style="left: 45%;top: 100em">
            <div class="content-div3-schedule flex_container position background padding-one width-thirty-eight padding-bottom">
                <!-- <div class="border flex_container" style="justify-content:space-between"> -->
                    <!-- <div class="flex_container" style="padding: 1em"> -->
                        <span class="category1 txt-head-size">
                            <b>CONTACTS</b>
                        </span>&nbsp;&nbsp;
                    
                    <p style="color: #a09d9d;padding-bottom: 1em;left: 0em">Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
             <!-- </div> -->
         <!-- </div> -->

            <div class="content-div-unwae1-schedule width-thirty-eight padding-two position background border-radius-ten">
                <div style="display: flex;background: #F7F7F7;padding:25px" class="center-align">
                    <img src="../images/profile.jpeg" width="20%" height="20%" style="float: left;border-radius: 50%" />
                    <div style="flex-direction: column;display: flex;padding: 10px">
                        <span>Jeret Quartz</span>
                        <span class="txt-head-color">Internal Committee - Chairman</span>
                        <span class="txt-head-color">jeret010@gmail.com</span>
                        <span class="txt-head-color">Mobile : 8989898989</span>
                    </div>
                </div>

                <div style="display: flex;background: #F7F7F7;padding:25px;margin-top: 15px;margin-bottom: 15px" class="center-align">
                    <img src="../images/profile.jpeg" width="20%" height="20%" style="float: left;border-radius: 50%" />
                    <div style="flex-direction: column;display: flex;padding: 10px">
                        <span>Jeret Quartz</span>
                        <span class="txt-head-color">Internal Committee - Chairman</span>
                        <span class="txt-head-color">jeret010@gmail.com</span>
                        <span class="txt-head-color">Mobile : 8989898989</span>
                    </div>
                </div>

                <div style="display: flex;background: #F7F7F7;padding:25px" class="center-align">
                    <img src="../images/profile.jpeg" width="20%" height="20%" style="float: left;border-radius: 50%" />
                    <div style="flex-direction: column;display: flex;padding: 10px">
                        <span>Jeret Quartz</span>
                        <span class="txt-head-color">Internal Committee - Chairman</span>
                        <span class="txt-head-color">jeret010@gmail.com</span>
                        <span class="txt-head-color">Mobile : 8989898989</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-items content-div-submit-schedule width-eighty position background padding-two position">
            <div style="padding: 3em;padding-left: 0%">
                <span style="border-bottom: 5px solid #FF0000;padding-bottom:2%;">
                    <b>SUBMIT A COMPLAINT</b>
                </span>
            </div>
            <p style="padding: 0.555em;padding-left: 0% ;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula, tortor ipsum faucibus
                nunc, id aliquam lacus odio nec magna. Cras a ipsum placerat, efficitur nibh sed, iaculis elit. Mauris semper
                tempor facilisis. Nunc at consequat tortor, vel facilisis tortor. Morbi blandit, libero id pellentesque faucibus,
                eros leo consequat erat, a gravida elit enim vitae tellus. Sed mattis nulla ut nulla hendrerit porta in quis
                orci.
            </p>
            <div style="padding: 2em;padding-left: 0%">
                <button class="button">COMPLAINT</button>
            </div>
        </div>

        <div class="row-items content-div-policy-schedule width-eighty positin background padding-two position">
            <div>
            <div class="float-left">
                <span>POLICY</span>
                <p class="txt-head-color">Last Updated: 7th July 2019</p>
            </div>
            <div class="flex-container align-end">
                <div class="right">
                    <div style="flex-direction: row">
                        <span style="color: #747474">PDF</span>
                        <p class="txt-head-color">976 KB</p>
                    </div>
                </div>
                <div class="right">

                    <img src="../images/posh-icons-09.png" width="40" height="40" alt="">
                </div>
                <div style="clear: both"></div>
            </div>
            </div>
            <div style="clear: both"></div>
            <div style="color: #4C5264" class="status">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula, tortor ipsum faucibus
                    nunc, id aliquam lacus odio nec magna. Aliquam egestas volutpat nisi ut finibus. Proin tincidunt arcu
                    at erat sagittis, non pulvinar sapien placerat. Praesent eu laoreet sem, eu aliquet lectus. Aenean auctor
                    sagittis sagittis.
                </p>
                <br>
                <p>
                    Integer vitae lacus quis nisi elementum porta. Integer sed auctor urna. Morbi ut nibh luctus, semper mi at, venenatis nunc.
                    Aliquam consequat urna vitae est dignissim tincidunt. Duis dignissim consectetur egestas.
                </p>
                <br>
                <p>
                    Pellentesque lacinia leo massa. Nunc interdum, ante at bibendum posuere, mi lorem porta orci, vitae aliquam dolor justo et
                    nisi. Aliquam mattis luctus condimentum. Donec risus neque, volutpat ac libero sed, pellentesque pharetra
                    libero.
                </p>
                <br>
                <p>
                    Ut sem quam, ultricies at placerat ac, vehicula at diam. Nullam at libero eu ante blandit sodales sed vel justo. Donec imperdiet
                    eros vel diam aliquam mattis. Proin a cursus enim. Integer scelerisque vestibulum nisl, dictum lacinia
                    sem. Suspendisse vel justo et enim iaculis bibendum. Pellentesque lacinia leo massa. Nunc interdum, ante
                    at bibendum posuere, mi lorem porta orci, vitae aliquam dolor justo et nisi. Aliquam mattis luctus condimentum.
                    Donec risus neque, volutpat ac libero sed, pellentesque pharetra libero.
                </p>
                <br>
                <p>
                    Pellentesque lacinia leo massa. Nunc interdum, ante at bibendum posuere, mi lorem porta orci, vitae aliquam dolor justo et
                    nisi. Aliquam mattis luctus condimentum. Donec risus neque, volutpat ac libero sed, pellentesque pharetra
                    libero.
                </p>
                <br>
            </div>
            <div style="clear: both"></div>

            <div style="background: #F4F8FA;padding: 2em">

                <div style="display: flex;">
                    <div class="search-box input-border background">
                        <img src="../images/profile.jpeg" height="50" width="50" alt="" class="image-border" style="margin-left: 0%"/>
                        <input class="full-width text-input txt-mobile-font " id="txt-search-query" type="text" placeholder="Search....">
                    </div>
                    <button class="button-submit">SUBMIT</button>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="width-eighty">
                <div  class="center-align flex-container padding-twenty-five">
                    <img src="../images/profile.jpeg" width="60" height="60" style="float: left;border-radius: 50%" />
                    <div class="flex-container-column padding-twenty">
                        <p class="padding-zero font-size-eighteen color-txt">Raman Goel</p>
                        <p class="txt-head-color padding-zero">18 Mar 2019</p>
                        <p style="color: #747474" class="padding-zero">Lorem ipsum dolor sit amet consectetur adipiscing elit sodales primis, mollis viverra conubia ligula
                            inceptos laoreet libero tortor.</p>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="flex-container center-align" style="margin-left: 15%">

                    <img src="../images/posh-icons-03.png" height="35" width="35" alt="" />
                    <p class="font-txt-number-big">13</p>

                    <div class="image-flex flex-container-dip">
                        <img src="../images/posh-icons-04.png" height="30" width="30" alt="" />
                        <p class="font-txt-number">02</p>
                    </div>
                </div>
            </div>


            <div class="width-eighty" style="margin-bottom: 5em">
                <div  class="center-align flex-container padding-twenty-five">
                    <img src="../images/profile.jpeg" width="60" height="60" style="float: left;border-radius: 50%" />
                    <div class="flex-container-column padding-twenty">
                        <p class="padding-zero font-size-eighteen color-txt">Raman Raghav</p>
                        <p class="txt-head-color padding-zero">08 Mar 2019</p>
                        <p class="txt-head-color padding-zero ">Lorem ipsum dolor sit amet consectetur adipiscing elit sodales primis, mollis viverra conubia ligula
                            inceptos laoreet libero tortor.</p>
                    </div>
                </div>
                
                <div class="flex-container center-align" style="margin-left: 15%">
                    <img src="../images/posh-icons-03.png" height="35" width="35" alt="" />
                    <p class="font-txt-number-big">05</p>

                    <div class="image-flex flex-container-dip">
                        <img src="../images/posh-icons-04.png" height="30" width="30" alt="" />
                        <p class="font-txt-number">01</p>
                    </div>
                </div>
                
            </div>
            <div style="padding: 2em;justify-content: center;background: #F7F7F7;display: flex">
                <span>SHOW MORE</span>&nbsp;&nbsp;
                <img src="../images/posh-icons-18.png" width="20" height="20" alt="" />
            </div>

            

        </div>
    </div>
</body>
</html>